#nav-main {
    height: 10rem;
    position: fixed;
    top: 0;
    z-index: 10;
    right: 0;
    left: 0;
    background: linear-gradient(180deg,
            var(--bg-color) 0%,
            rgba(250, 255, 255, 0) 100%);
}

#nav-main .brand {
    aspect-ratio: 1
}

footer#footer .brand {
    padding: 1rem
}

footer#footer .brand img {
    max-height: 50px
}

.bigMargin {
    padding-top: 16rem;
    padding-bottom: 16rem
}

.mediumMargin {
    padding-top: 8rem;
    padding-bottom: 8rem
}

.smallMargin {
    padding-top: 4rem;
    padding-bottom: 4rem
}

.bigPadding {
    padding-top: 16rem;
    padding-bottom: 16rem
}

.mediumPadding {
    padding-top: 8rem;
    padding-bottom: 8rem
}

.smallPadding {
    padding-top: 4rem;
    padding-bottom: 4rem
}

.entry {
    background-color: #f0f8ff
}

.entry .title {
    font-weight: bold
}

.entry .type {
    font-weight: initial;
    margin: 0 1rem
}

html {
    height: 100%
}

body {
    height: 100%
}

#header {
    height: 70vh;
    background: linear-gradient(0deg, #FCE7C8 0%, rgba(250, 255, 255, 0) 100%);
    position: relative
}

#header .header-element {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden
}

#header .gradient-background:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: linear-gradient(0deg, var(--bg-color) 0%, rgba(250, 255, 255, 0) 50%);
}

#header .container {
    position: relative
}

#header h1 {
    margin: 0
}

#header img {
    min-height: 100%;
    min-width: 100%
}

#header .tags {
    margin-top: 1rem
}

#header .tags span {
    padding: .5rem 1.5rem;
    border-radius: 10rem;
    color: var(--font-color);
    font-weight: bold;
    margin-right: 1rem;
    border: 1px solid var(--font-color)
}

.position-ref {
    position: absolute
}

#header-content {
    bottom: 0;
    left: 0;
    position: absolute
}

.images {
    display: grid;
    width: 100%;
    gap: 3rem;
    grid-template-columns: 1fr;
    margin-bottom: 3rem
}

.images .entry,
.images img {
    border-radius: 1rem
}

.images.two {
    grid-template-columns: 1fr 1fr
}

.images.three {
    grid-template-columns: 1fr 1fr 1fr
}

.images.full img {
    margin: auto;
    max-height: 80vh
}

.images.full figcaption {
    margin: auto
}

figcaption {
    text-align: center;
    grid-column: 1/-1;
    color: var(--main-color);
    background-color: rgba(166, 197, 208, .1);
    padding: 1rem;
    border-radius: 1rem
}

.entries {
    display: grid;
    width: 100%;
    gap: 3rem;
    margin-bottom: 3rem;
    grid-template-columns: 1fr 1fr 1fr 1fr
}

.entries a {
    position: relative;
    aspect-ratio: 1;
    border-radius: 1rem;
    overflow: hidden
}

.entries div {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    left: 2rem;
    font-size: 2rem
}

.entries img {
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0
}

.entries .title {
    font-weight: bold;
    font-size: 3rem
}

.entries p {
    text-transform: capitalize;
    margin: 0;
    display: block
}

.lightbox {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: space-around;
    position: fixed;
    top: 5rem;
    right: 5rem;
    left: 5rem;
    bottom: 5rem;
    text-align: center;
    z-index: 1000;
    cursor: zoom-out;
    border-radius: 1rem
}

.lightbox.hide {
    display: none
}

.lightbox .img-container {
    flex-grow: 1;
    max-height: 80vh
}

.lightbox img {
    max-height: 100%;
    max-width: 100%;
    border-radius: 1rem
}

.lightbox p {
    color: var(--bg-color);
    background-color: var(--font-color);
    margin: auto;
    padding: 1rem;
    display: inline-block;
    border-radius: 1rem;
    margin-top: 1rem;
}

.focus {
    cursor: zoom-in
}

@media screen and (max-width: 480px) {
    .lightbox {
        top: 0;
        right: 0;
        left: 0;
        bottom: 0
    }
}

@media screen and (max-height: 480px) {
    .lightbox {
        top: 0;
        right: 0;
        left: 0;
        bottom: 0
    }
}

.container {
    height: 100%
}

.bold {
    font-weight: bold
}

.project main p {
    margin: 5rem 0
}

.first-letter::first-letter {
    font-size: 2em;
    margin-right: 3px;
    font-weight: bold
}

h1 {
    font-weight: 700;
    letter-spacing: .5rem;
    font-size: 5rem
}

h2 {
    font-size: 4rem;
    font-weight: 600
}

.about-entry .content {
    padding-left: 2rem
}

.about-entry .date p {
    margin-top: 1rem
}

kbd {
    background-color: rgba(0, 0, 0, .1);
    border-radius: .25rem;
    color: var(--main-color);
    box-shadow: #d1d5db 0px -4px 0px inset, rgba(0, 0, 0, .4) 0px 1px 1px;
    padding: .25rem .5rem
}

details {
    background-color: var(--bg-secondary-color)
}

details>* {
    padding: 0 1rem
}

details:last-child {
    padding-bottom: 1rem
}

details summary {
    padding: 1rem;
    font-weight: bold;
    cursor: pointer
}

a[href^="http"]:not([href*="127.0.0.1:5500"])::after,
a[href^="http"]:not([href*="baptistemanusset.github.io"])::after {
    content: "↗";
}

.dark-toggle {
    position: fixed;
    right: 0;
    bottom: 2rem;
    aspect-ratio: 1;
    padding: 1rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
}

.dark-toggle::before {
    content: "🌑"
}

.dark-theme .dark-toggle::before {
    content: "☀️"
}

.dark-theme .logo {
    filter: invert(0.7)
}

.dark-theme img {
    filter: brightness(0.8) contrast(1.2)
}

@media screen and (max-width: 599px) {
    .about-entry .date {
        text-align: center;
        margin: 0
    }
}

.background-ocre {
    background-color: #fce7c8
}

.background-greenCactus {
    background-color: #b1c29e
}

.background-yellow {
    background-color: #fada7a
}

.background-orange {
    background-color: #f0a04b
}

.background-blue {
    background-color: #87a2ff
}

.background-lightBlue {
    background-color: #c4d7ff
}

.background-BACD92 {
    background-color: #bacd92
}

.background-darkgreen {
    background-color: #75a47f
}

.background-pink {
    background-color: #ff70ab
}

.background-red {
    background-color: #c51605
}

.dark-theme.background-ocre {
    background-color: #342510
}

.dark-theme.background-greenCactus {
    background-color: #b1c29e
}

.dark-theme.background-yellow {
    background-color: #fada7a
}

.dark-theme.background-orange {
    background-color: #f0a04b
}

.dark-theme.background-blue {
    background-color: #87a2ff
}

.dark-theme.background-lightBlue {
    background-color: #c4d7ff
}

.dark-theme.background-BACD92 {
    background-color: #bacd92
}

.dark-theme.background-darkgreen {
    background-color: #75a47f
}

.dark-theme.background-pink {
    background-color: #ff70ab
}

.dark-theme.background-red {
    background-color: #c51605
}