.card {
    background-color: aquamarine;
}

#nav-main {
    min-height: 15rem;
    /* position: sticky;
    top: 0; */
}

#nav-main .brand {
    aspect-ratio: 1;
}

#nav-main .brand img {
    max-height: 50%;
}

footer#footer {
    background-color: bisque;
}

footer#footer .brand {
    padding: 1rem;
}

footer#footer .brand img {
    max-height: 5rem;
}

.bigMargin {
    padding-top: 16rem;
    padding-bottom: 16rem;
}

.mediumMargin {
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.smallMargin {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.entry {
    background-color: aliceblue;
}

.entry .title {
    font-weight: bold;
}

.entry .type {
    font-weight: initial;
    margin: 0 1rem;
}

html,
body {
    height: 100%;
}

#header {
    background-color: bisque;
}

.bold {
    font-weight: bold;
}

.project main p {
    margin: 5rem 0;
}

.first-letter::first-letter {
    font-size: 2em;
    margin-right: 3px;
    font-weight: bold;
}

h1 {
    text-transform: uppercase;
    font-weight: 600;
}

.about-entry .content {
    /* border-left: 1px solid; */
    padding-left: 2rem;
}

.about-entry .date p {
    margin-top: 1rem;
}

@media screen and (max-width: 599px) {
    .about-entry .date {
        text-align: center;
        margin: 0;
    }
}

#header {
    background-color: bisque;
    background-image: url(https://baptistemanusset.github.io/images/projects/computer/computer.jpg);
    background-attachment: fixed;
    background-size: cover;
  }