.card {
    background-color: aquamarine;
}

#nav-main {
    height: 15rem;
    position: fixed;
    top: 0;
    z-index: 10;
    right: 0;
    left: 0;
    /* position: sticky;
    top: 0; */
}

#nav-main .brand {
    aspect-ratio: 1;
}

#nav-main .brand img {
    max-height: 50%;
}

footer#footer {
    /* background-color: bisque; */
    /* background: linear-gradient(0deg, var(--color-primary) 0%, var(--bg-secondary-color) 35%, var(--bg-color) 100%);  */
}

footer#footer .brand {
    padding: 1rem;
}

footer#footer .brand img {
    max-height: 50px;
}

.bigMargin {
    padding-top: 16rem;
    padding-bottom: 16rem;
}

.mediumMargin {
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.smallMargin {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.bigPadding {
    padding-top: 16rem;
    padding-bottom: 16rem;
}

.mediumPadding {
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.smallPadding {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

/* * {
    border: 1px solid #e6141436;
    background: radial-gradient(circle, rgba(2, 0, 36, 0) 60%, rgba(255, 38, 0, 0.089) 100%);
} */

.entry {
    background-color: aliceblue;
}

.entry .title {
    font-weight: bold;
}

.entry .type {
    font-weight: initial;
    margin: 0 1rem;
}

html,
body {
    height: 100%;
}

#header {
    height: 70vh;
    /* background-color: gray; */
}

#header .container {
    position: relative;
}

.position-ref {
    position: absolute;
}

#header-content {
    bottom: 0;
    left: 0;
    position: absolute;
}

.images {
    display: grid;
    width: 100%;
    gap: 3rem;
    grid-template-columns: 1fr;
    margin-bottom: 3rem;
}

.images.two {
    grid-template-columns: 1fr 1fr;
}

.images.three {
    grid-template-columns: 1fr 1fr 1fr;
}

.images img {
    border-radius: 1rem;
}

figcaption {
    text-align: center;
    grid-column: 1/-1;
    color: lightslategray;
}

.container {
    /* background: #a1393954; */
    height: 100%;
}

#header h1 {
    margin: 0;
}

.bold {
    font-weight: bold;
}

.project main p {
    margin: 5rem 0;
}

.first-letter::first-letter {
    font-size: 2em;
    margin-right: 3px;
    font-weight: bold;
}

h1 {
    /* text-transform: uppercase; */
    font-weight: 700;
    letter-spacing: .5rem;
    font-size: 5rem;
}

h2 {
    font-size: 4rem;
    font-weight: 600;
}

.about-entry .content {
    /* border-left: 1px solid; */
    padding-left: 2rem;
}

.about-entry .date p {
    margin-top: 1rem;
}

@media screen and (max-width: 599px) {
    .about-entry .date {
        text-align: center;
        margin: 0;
    }
}



/* #header::before {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    content: "";
    background:
        linear-gradient(0deg, rgba(255, 255, 255, 0) 50%, var(--bg-color) 100%),
        linear-gradient(90deg, rgba(255, 255, 255, 0) 80%, var(--bg-color) 100%),
        linear-gradient(180deg, rgba(255, 255, 255, 0) 70%, var(--bg-color) 100%),
        linear-gradient(270deg, rgba(255, 255, 255, 0) 85%, var(--bg-color) 100%),
        radial-gradient(circle, rgba(255, 255, 255, 0) 75%, var(--bg-color) 100%);
} */

kbd {
    /* Background and color */
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 0.25rem;
    color: rgba(0, 0, 0, 0.7);

    /* Bottom shadow */
    box-shadow: #d1d5db 0px -4px 0px inset, rgba(0, 0, 0, 0.4) 0px 1px 1px;

    /* Spacing */
    padding: 0.25rem 0.5rem
}

details {
    background-color: var(--bg-secondary-color);
}

details>* {

    padding: 0 1rem;
}

details :last-child {
    padding-bottom: 1rem;
}


details summary {
    padding: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.btn-toggle {
    position: fixed;
    right: 0;
    bottom: 2rem;
    aspect-ratio: 1;
    padding: 1rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.btn-toggle::before {
    content: "🌑";
}

.dark-theme .btn-toggle::before {
    content: "☀️";
}

.dark-theme .logo {
    filter: invert(.7);
}

:root {
    --color-FCE7C8: #FCE7C8;
    --color-B1C29E: #B1C29E;
    --color-FADA7A: #FADA7A;
    --color-F0A04B: #F0A04B;
    --color-87A2FF: #87A2FF;
    --color-C4D7FF: #C4D7FF;
    --color-BACD92: #BACD92;
    --color-75A47F: #75A47F;
    --color-FF70AB: #FF70AB;
    --color-C51605: #C51605;
}