$color_1: var(--main-color);
$color_2: rgba(0, 0, 0, 0.7);
$background-color_1: aquamarine;
$background-color_2: aliceblue;
$background-color_3: rgba(0, 0, 0, 0.1);
$background-color_4: var(--bg-secondary-color);

/* * {
    border: 1px solid #e6141436;
    background: radial-gradient(circle, rgba(2, 0, 36, 0) 60%, rgba(255, 38, 0, 0.089) 100%);
} */
.card {
    background-color: $background-color_1;
}

#nav-main {
    height: 15rem;
    position: fixed;
    top: 0;
    z-index: 10;
    right: 0;
    left: 0;

    .brand {
        aspect-ratio: 1;

        img {
            max-height: 50%;
        }
    }
}

footer#footer {
    .brand {
        padding: 1rem;

        img {
            max-height: 50px;
        }
    }
}

.bigMargin {
    padding-top: 16rem;
    padding-bottom: 16rem;
}

.mediumMargin {
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.smallMargin {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.bigPadding {
    padding-top: 16rem;
    padding-bottom: 16rem;
}

.mediumPadding {
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.smallPadding {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.entry {
    background-color: $background-color_2;

    .title {
        font-weight: bold;
    }

    .type {
        font-weight: initial;
        margin: 0 1rem;
    }
}

html {
    height: 100%;
}

body {
    height: 100%;
}

#header {
    height: 70vh;

    .container {
        position: relative;
    }

    h1 {
        margin: 0;
    }
}

.position-ref {
    position: absolute;
}

#header-content {
    bottom: 0;
    left: 0;
    position: absolute;
}

.images {
    display: grid;
    width: 100%;
    gap: 3rem;
    grid-template-columns: 1fr;
    margin-bottom: 3rem;

    .entry,
    img {
        border-radius: 1rem;
    }


    &.two {
        grid-template-columns: 1fr 1fr;
    }

    &.three {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.entries {
    display: grid;
    width: 100%;
    gap: 3rem;
    margin-bottom: 3rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    a {
        position: relative;
        aspect-ratio: 1;
        border-radius: 1rem;
        overflow: hidden;
    }

    div {
        position: absolute;
        bottom: 2rem;
        right: 2rem;
        left: 2rem;
        font-size: 2rem;
    }

    img {
        min-height: 100%;
        min-width: 100%;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
    }

    .title {
        font-weight: bold;
        font-size: 3rem;
    }
    .description {}

    p {
        text-transform: capitalize;
        margin: 0;
        display: block;
    }

}


// @media screen and (max-width: 799px) {
//     .entries {
//         grid-template-columns: 1fr 1fr;
//     }
// }

// @media screen and (max-width: 399px) {
//     .entries {
//         grid-template-columns: 1fr;
//     }
// }

figcaption {
    text-align: center;
    grid-column: 1/-1;
    color: $color_1;
    background-color: rgba(166, 197, 208, 0.1);
    padding: 1rem;
    border-radius: 1rem;

}

.container {
    height: 100%;
}

.bold {
    font-weight: bold;
}

.project {
    main {
        p {
            margin: 5rem 0;
        }
    }
}

.first-letter {
    &::first-letter {
        font-size: 2em;
        margin-right: 3px;
        font-weight: bold;
    }
}

h1 {
    font-weight: 700;
    letter-spacing: .5rem;
    font-size: 5rem;
}

h2 {
    font-size: 4rem;
    font-weight: 600;
}

.about-entry {
    .content {
        padding-left: 2rem;
    }

    .date {
        p {
            margin-top: 1rem;
        }
    }
}

kbd {
    background-color: $background-color_3;
    border-radius: 0.25rem;
    color: $color_2;
    box-shadow: #d1d5db 0px -4px 0px inset, rgba(0, 0, 0, 0.4) 0px 1px 1px;
    padding: 0.25rem 0.5rem;
}

details {
    background-color: $background-color_4;

    >* {
        padding: 0 1rem;
    }

    &:last-child {
        padding-bottom: 1rem;
    }

    summary {
        padding: 1rem;
        font-weight: bold;
        cursor: pointer;
    }
}

.dark-toggle {
    position: fixed;
    right: 0;
    bottom: 2rem;
    aspect-ratio: 1;
    padding: 1rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    &::before {
        content: "🌑";
    }
}

.dark-theme {
    .dark-toggle {
        &::before {
            content: "☀️";
        }
    }

    .logo {
        filter: invert(.7);
    }
}



@media screen and (max-width: 599px) {
    .about-entry {
        .date {
            text-align: center;
            margin: 0;
        }
    }
}


:root {
    --color-FCE7C8: #FCE7C8;
    --color-B1C29E: #B1C29E;
    --color-FADA7A: #FADA7A;
    --color-F0A04B: #F0A04B;
    --color-87A2FF: #87A2FF;
    --color-C4D7FF: #C4D7FF;
    --color-BACD92: #BACD92;
    --color-75A47F: #75A47F;
    --color-FF70AB: #FF70AB;
    --color-C51605: #C51605;
}