<!DOCTYPE html>
<html lang="fr">

<head>

    <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>Portfolio</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="css/custom.css">
    <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="images/favicon.png">

</head>

<body class="project">

    <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <nav class="nav bold" id="nav-main">
        <div class="nav-left">
            <a class="brand" href="index.html">
                <img src="images/logo.svg" alt="" class="logo"
                    style="max-height: 100px;">
            </a>
        </div>
        <div class="nav-right">
            <a class="active" href="index.html">Projects</a>
            <a>Blog</a>
            <a>About</a>
            <a>Contact</a>
        </div>
    </nav>


    <div class="is-full-width bigMargin" id="header">
        <div class="container">
            <div class="row is-marginless">
                <div class="col-12 text-center">
                    <h1>Project title</h1>
                    <p>Jeux Vidéos</p>    
                </div>
            </div>
        </div>
    </div>



    <main class="is-full-width">
        <div class="container">
            <div class="row is-marginless">
                <div class="col-12">
                    <p class="first-letter">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium doloribus dolorum voluptas
                        laboriosam dolor itaque quibusdam ipsam tempore asperiores repellat, optio impedit, quam est
                        quidem alias animi possimus dolore nihil?</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium doloribus dolorum voluptas
                            laboriosam dolor itaque quibusdam ipsam tempore asperiores repellat, optio impedit, quam est
                            quidem alias animi possimus dolore nihil?</p>
                    <pre class="is-full-width"><code class="language-cs">using System;

public class HelloWorld
{
    public static void Main(string[] args)
    {
        Console.WriteLine("Salut tout le monde!");
    }
}</code></pre>
                </div>
            </div>
        </div>
    </main>






    <footer id="footer" class="is-full-width bold">
        <div class="container mediumMargin">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="iscenter">
                        <div class="brand">
                            <img src="images/logo.svg" alt="" class="logo"
                                style="max-height: 100px;">
                        </div>
                    </div>
                    <nav class="nav">
                        <div class="nav-center">
                            <a href="#">Blue sky</a>
                            <a href="#">Itchio</a>
                            <a href="#">Artstation</a>
                            <a href="#">Github</a>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </footer>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>

    <!-- and it's easy to individually load additional languages -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/cs.min.js"></script>

    <script>hljs.highlightAll();</script>
    <!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>

</html>