---
layout: default
---

<div id="main">
    {% for post in site.statics %}
    {% if post.title == "accueil"%}

  <section>
    <div>
      {{post.content}}
    </div>

   </section>
<section id="competence-block">
  <h2 id="competences">Compétences</h2>
<div class="skills cards">
 <div class="icon-unity"><span>Unity</span></div>
 <div class="icon-blender"><span>Blender</span></div>
 <div class="icon-substance"><span>Substance Painter</span></div>
 <div class="icon-photoshop"><span>Photoshop</span></div>
 <div class="icon-illustrator"><span>Illutrator</span></div>
 <div class="icon-premiere"><span>Premiere Pro</span></div>

</div>
</section>
    {% endif %}
    {% endfor %}
  <section id="projets">
    <h2>Mes projets</h2>
    <div class="row articles">
      {% for post in site.posts %}
      {% if post.exclude == false %}
      <article class="{% cycle '6u', '6u$' %} 12u(small) article">
        <section>
          <a href="{{ post.url }}"><img src="{{ post.image }}" class="fit image" /></a>
        </section>
        <header>
          <a href="{{ post.url }}">
            <span>
              <strong>{{ post.title }}</strong><small>{{ post.categories[0]
                            }}</small>
            </span>
          </a>
        </header>
      </article>
           {% endif %}
 {% endfor %}


    </div>
  </section>
</div>
