<div class="is-full-width" id="header">
    <div class="bgimg" style="background-image: url('/images/decors/building.png');"></div>

    <div class="header-element">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <div id="header-content">
                        <h1>{{ title }}</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<article>
    <section class="full four entries">
        {{ content }}
    </section>
</article>