<!DOCTYPE html>
<html lang="fr" style="">

<head>

    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <title>{{ title }}</title>

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS -->
    <link rel="stylesheet" href="{{ base_path }}/css/custom.css">
    <link rel="stylesheet" href="{{ base_path }}/css/agate.min.css">
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="{{ base_path }}/images/favicon.png">
</head>

<body>
<!-- Primary Page Layout -->
<nav class="nav bold" id="nav-main">
    <div class="nav-left">
        <a class="brand" href="{{ base_path }}/">
            <img src="{{ base_path }}/images/logo.svg" alt="test test" class="logo" style="max-height: 50px;">
        </a>
    </div>
    <div class="nav-right title-font">
        <p>
            <a class="nav-url" href="{{ base_path }}/">Projects</a>
            <!-- <a class="nav-url" href="{{ base_path }}/blog/">Blog</a> -->
            <a class="nav-url" href="{{ base_path }}/about/">About</a>
        </p>
    </div>
</nav>
{{ content }}

<footer id="footer" class="is-full-width smallMargin">
    <div class="full">
        <div class="row">
            <div class="col-12 text-center">
                <div class="iscenter">
                    <div class="brand">
                        <a class="brand" href="{{ base_path }}/">
                            <img src="{{ base_path }}/images/logo.svg" alt="test test" class="logo"
                                 style="max-height: 50px;">
                        </a>
                    </div>
                </div>
                <nav class="nav bold">
                    <div class="nav-center">
                        <a href="https://bsky.app/profile/itsbaptiste.bsky.social">Blue sky</a>
                        <a href="https://itsbaptiste.itch.io/">Itchio</a>
                        <a href="https://www.artstation.com/itsbaptiste">Artstation</a>
                        <a href="https://github.com/BaptisteManusset">Github</a>
                    </div>
                </nav>
                <div class="iscenter smallMargin title-font">
                    <p>0% cookies, 0% AI, 100% Human Made.<br>Made with <a href="https://github.com/sunainapai/makesite">makesite.py</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>

<div class="lightbox hide">
    <div class="img-container">
        <img src="https://baptistemanusset.github.io/images/projects/computer/front.jpg">
    </div>
    <div class="text-container">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
</div>

<script>

</script>


<script src="{{ base_path }}/scripts/highlight.min.js"></script>
<script src="{{ base_path }}/scripts/main.js"></script>

<script>hljs.highlightAll();</script>
<!-- End Document -->
</body>

</html>