<div class="is-full-width" id="header">
    <div class="header-element gradient-background">
        <img src="{{ base_path }}/{{ image-header }}"
            alt="">
    </div>
    <div class="header-element">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <div id="header-content" class="circle-container">
                        <div class="circTxt" data-text="{{ types }} - {{ types }} - "  data-radius="90"></div>
                        <h1>{{ title }}</h1>
                        <p class="tags title-font">{{ tags }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<article class="bigMargin">

<!-- content begin -->
{{ content }}
<!-- content end -->

</article>
