%bg {
  font-family: "Roboto", Helvetica, sans-serif !important;
  font-weight: 900;
  line-height: 1.15em;
  display: inline-block;
  margin-right: 5px;
  padding: 0.2rem .5rem;
  list-style: none;
  cursor: pointer;
  transition: background .1s;
  text-align: center;
  text-transform: uppercase;
  color: white;
  background: $color-red;
  box-decoration-break: clone;

  &:hover {
    background: $color-black;

  }
}

#main strong, #main b {
  @extend %bg;
  a{
	color: white;
	font-style: italic;
  }
}


::selection {
  background: $color-red;
  color: #fff;
}