---
layout: default
---
<div id="main">
  <article>
    <header>
    <img src="{{ page.image }}" class="fit image">
      <h1 class="post-title">{{ page.title }}</h1>
      <p>Date <b>{{page.start_date | date: '%d/%m/%Y'}}</b> ⟹ <b>{{page.end_date | date: '%d/%m/%Y'}}</b></p>
      
      {% capture start_date_month %}{{ page.start_date | date: '%m' }}{% endcapture %}  
      {% capture end_date_month %}{{ page.end_date | date: '%m' }}{% endcapture %} 
      {% capture months %}  {{ end_date_month | minus: start_date_month}}{% endcapture %}

      {% capture start_date_year %}{{ page.start_date | date: '%Y' }}{% endcapture %}  
      {% capture end_date_year %}{{ page.end_date | date: '%Y' }}{% endcapture %} 
      {% capture year %}  {{ end_date_year | minus: start_date_year}}{% endcapture %}
       {% capture months %}{{ year | times: 12 | plus: months}}{% endcapture %}

      <p>Durée <b>{{ months}} mois</b></p>

        <ul class="category-list">
        {% for category in page.categories %} 
            <li class="category-item">{{category}}</li>
        {% endfor %}
        </ul>
    </header>

    <section>
      {{ content }}
    </section>

    <footer>
      <div class="row">
      {% if page.previous %}
        <article class="{% cycle '6u', '6u$' %} 12u(small) excerpt">
          <header>
            <h2><a href="{{ page.previous.url }}">{{ page.previous.title }}</a></h2>
          </header>
          <section>
            {{ page.previous.excerpt }}
          </section>
          <footer>
            <ul class="actions">
              <li><a href="{{ page.previous.url }}" class="button">Lire la suite</a></li>
            </ul>
          </footer>
        </article>
      {% endif %}

      {% if page.next %}
        <article class="{% cycle '6u', '6u$' %} 12u(small) excerpt f-right">
          <header>
           <img src="{{ page.next.image }}" class="fit image">
            <h2><a href="{{ page.next.url }}">{{ page.next.title }}</a></h2>
          </header>
          <section>
            {{ page.next.excerpt | markdownify }}
          </section>
          <footer>
            <ul class="actions">
              <li><a href="{{ page.next.url }}" class="button">Lire la suite</a></li>
            </ul>
          </footer>
        </article>
      {% endif %}
      </div>
    </footer>
  </article>
</div>
